* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 170%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header  */
header {
  padding: 14px 16px;
  background: rgb(126, 158, 255);
  color: white;
}

/* Style the top navigation bar */
nav {
  overflow: hidden;
  background-color: rgb(131, 17, 17);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style the topnav links */
nav a {
  float: left;
  display: block;
  color: #eee;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

/* Change color on hover */
nav a:hover {
  background-color: #eee;
  color: rgb(131, 17, 17);
}

/* Style the content */
main .splash {
  margin-top: 30px;
  padding: 120px 16px;
  text-align: center;
  color: #eee;
  background-color: rgb(150, 65, 65);
}

main .splash h1 {
  font-size: 4em;
  margin: 0;
}

main .splash h3 {
  font-size: 1.5em;
}

main .splash a {
  padding: 14px 20px;
  background-color: black;
  font-size: 1em;
  border-radius: 4px;
  color: #eee;
  text-decoration: none;
}

main .splash a:hover {
  background-color: rgb(131, 17, 17);
  color: #eee;
}

main .content {
  margin: auto;
  margin-bottom: 100px;
  max-width: 1024px;
}

.row .text-wrapper {
  /* border: 1px solid red; */
  display: inline-block;
  max-width: 600px;
}

.row:nth-of-type(2) .text-wrapper {
  text-align: right;
}

.row:nth-of-type(1) img {
  float: right;
  clear: left;
  margin-left: 20px;
}

.row:nth-of-type(2) img {
  float: left;
  clear: right;
  margin-right: 20px;
}

.row img {
  margin-top: 25px;
}

/* Style the footer */
footer .section-1,
footer .section-2 {
  padding: 50px;
  text-align: center;
  color: #555;
}

footer .section-1 {
  background-color: #f1f1f1;
}

footer .section-1 a,
footer .section-2 a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  color: inherit;
  font-weight: bolder;
}

footer .section-1 a:hover,
footer .section-2 a:hover {
  color: #222;
  text-decoration: underline;
}

footer .section-2 {
  color: #888;
  background-color: #ddd;
}
